<html>
<head>
  <link rel="stylesheet" type="text/css" href="add.css">
  <title>Add | Online Calculator</title>
</head>
<body>
  <h1>Add</h1>
  <form action="add" method="post">
    <input type="text" name="sum1" value="0">
    <p>+</p>
    <input type="text" name="sum2" value="0">
    <p>=</p>
    <input type="submit" value="Calcular">
  </form>
</body>
</html>
